%p#notice= notice

%h1
  = @training.name

%h2 チーム一覧
%table.table
  - @training.teams.order(:name).each do |team|
    %tr
      %td
        = team.name
      %td
        = link_to '変更', edit_training_team_path(team.training_id, team.id), class: "btn btn-primary"
      %td
        |
        - team.members.each do |member|
          -# %button.btn.btn-secondary.btn-sm{type: 'button'}
          = link_to member.name, edit_member_path(member)
          |


%p
  = link_to 'チーム追加', new_training_team_path(@training.id), class: "btn btn-primary"
-# %p
-#   = link_to '試合結果登録', new_training_team_path(@training.id), class: "btn btn-primary"


= link_to '戻る', trainings_path
